#main {
    padding-top: 68px;

    #breadcrumbs{
        padding: 70px 0;
        background-image: url(/image/about/breadcrumbs.jpg);
        h1{
            color: white;
            font-weight: 900;
        }
        .path{
            padding-top: 10px;
            a{
                text-decoration: none;
                color: $color1;
            }
            span{
                color: white;
            }
        }
    }
}

#about {
    padding-top: 80px;
    padding-bottom: 100px;

    .box-left {
        margin: 50px 0;

        h1 {
            font-family: $font1;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        p {
            width: 75%;
            color: #808080;
            font-family: $font1;
            font-weight: 600;
            margin-bottom: 50px;
        }

        a {
            text-decoration: none;
            color: white;
            font-family: $font1;
            font-weight: 600;
            font-size: 15px;
            background-color: $color1;
            padding: 15px 50px;
            border-radius: 8mm;
        }
    }
}

#stores {
    text-align: center;
    background-color: #FAFAFA;
    padding: 100px;

    h1 {
        font-size: 70px;
        color: #333;
        font-family: $font1;
        font-weight: bold;

    }
}

#test {
    padding-bottom: 150px;

    .box-top {
        padding-bottom: 40px;
        text-align: center;
        padding: 50px;

        h1 {
            color: #333;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }

    .boxess {
        width: 100%;
        flex-direction: column-reverse;
        .img-boxs {
            width: 60% !important;
            height: 300px !important;
            margin-left: 0;
            position: relative;
            img {width: 100%;
                height: 100% !important;
                position: absolute;
                transition: 0.5s ease-in-out;
                border-radius: 10px;
                left: 100%;
                &:nth-child(1){
                    left: 0;
                }
            }
        }

        .content {
            width: 100%;
            margin-left: 20px;

            ul {
                li {
                    i {
                        color: orange;
                        margin: 0 2px;
                    }
                }
            }

            .testi-bottom {
                position: relative;

                .next {
                    position: absolute;
                    right: 70%;
                    color: $color1;
                    background-color: white;
                    border: 2px solid $color1;
                    padding: 10px 15px;
                    border-radius: 8mm;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: $color1;
                    }
                }

                .prev {
                    position: absolute;
                    left: 0;
                    color: $color1;
                    background-color: white;
                    border: 2px solid $color1;
                    padding: 10px 15px;
                    border-radius: 8mm;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: $color1;
                    }
                }
            }
        }

    }
}

#take {
    height: auto;
    .overlay{
        background-image: url(/image/about/takee.jpg);
        position: absolute;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    height: 33vh;
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E52727 25%, rgba(0, 0, 0, 0.8) 70%);
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s;

    .box-left {
        margin-top: 70px;

        h1 {
            width: 100%;
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 700;
        }

        h5 {
            color: white;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    .box-right {
        display: none;

    }
}

    @media(min-width:576px){
    #test{
              .boxess {
        width: 100%;
        flex-direction: column-reverse;
        .img-boxs {
            width: 60% !important;
            height: 300px !important;
            margin-left: 0;
            position: relative;
            img {width: 100%;
                height: 100% !important;
                position: absolute;
                transition: 0.5s ease-in-out;
                border-radius: 10px;
                left: 100%;
                &:nth-child(1){
                    left: 0;
                }
            }
        }

        .content {
            width: 100%;
            margin-left: 20px;

            ul {
                li {
                    i {
                        color: orange;
                        margin: 0 2px;
                    }
                }
            }

            .testi-bottom {
                position: relative;

                .next {
                    position: absolute;
                    right: 78%;
                    color: $color1;
                    background-color: white;
                    border: 2px solid $color1;
                    padding: 10px 15px;
                    border-radius: 8mm;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: $color1;
                    }
                }

                .prev {
                    position: absolute;
                    left: 0;
                    color: $color1;
                    background-color: white;
                    border: 2px solid $color1;
                    padding: 10px 15px;
                    border-radius: 8mm;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: $color1;
                    }
                }
            }
        }

    }
    }

}
@media (min-width:768px) {
    #test{
            .boxess {
        width: 100%;
        flex-direction: column-reverse;
        .img-boxs {
            width: 40% !important;
            height: 300px !important;
            margin-left: 0;
            position: relative;
            img {width: 100%;
                height: 100% !important;
                position: absolute;
                transition: 0.5s ease-in-out;
                border-radius: 10px;
                left: 100%;
                &:nth-child(1){
                    left: 0;
                }
            }
        }

        .content {
            width: 55%;
            margin-left: 20px;

            ul {
                li {
                    i {
                        color: orange;
                        margin: 0 2px;
                    }
                }
            }

            .testi-bottom {
                position: relative;

                .next {
                    position: absolute;
                    right: 70%;
                    color: $color1;
                    background-color: white;
                    border: 2px solid $color1;
                    padding: 10px 15px;
                    border-radius: 8mm;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: $color1;
                    }
                }

                .prev {
                    position: absolute;
                    left: 0;
                    color: $color1;
                    background-color: white;
                    border: 2px solid $color1;
                    padding: 10px 15px;
                    border-radius: 8mm;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: $color1;
                    }
                }
            }
        }

    }
    }
    #take{
        .box-left{
            width: 40%;
        }
        .box-right{
            display: block;
                .wheel {
                    position: absolute;
                    top: 0;
                    width: 320px;
                    height: 280px;
                    right: 20px;
                }
            
        }
    }
}
@media (min-width:992px){
    #test{
        .boxess {
            width: 100%;
            flex-direction: column-reverse;
            .img-boxs {
                width: 22% !important;
                height: 250px !important;
                margin-left: 0;
                position: relative;
                img {width: 100%;
                    height: 100% !important;
                    position: absolute;
                    transition: 0.5s ease-in-out;
                    border-radius: 10px;
                    left: 100%;
                    &:nth-child(1){
                        left: 0;
                    }
                }
            }
    
            .content {
                width: 55%;
                margin-left: 20px;
    
                ul {
                    li {
                        i {
                            color: orange;
                            margin: 0 2px;
                        }
                    }
                }
    
                .testi-bottom {
                    position: relative;
    
                    .next {
                        position: absolute;
                        right: 80%;
                        color: $color1;
                        background-color: white;
                        border: 2px solid $color1;
                        padding: 10px 15px;
                        border-radius: 8mm;
                        transition: .3s ease-in-out;
    
                        &:hover {
                            color: white;
                            background-color: $color1;
                        }
                    }
    
                    .prev {
                        position: absolute;
                        left: 0;
                        color: $color1;
                        background-color: white;
                        border: 2px solid $color1;
                        padding: 10px 15px;
                        border-radius: 8mm;
                        transition: .3s ease-in-out;
    
                        &:hover {
                            color: white;
                            background-color: $color1;
                        }
                    }
                }
            }
    
        }
    }
    #take{
        position: relative;
        .box-left{
            width: 100%;
        }
        .box-right{
            display: block;
            .wheel {
                position: absolute;
                top: -50px;
                width: 350px;
                height: 320px;
                right: 80px;
            }
        }
        }
    }

